@import "header";
@import "section-1";
@import "section-2";
@import "section-3";
@import "section-4";
@import "section-5";
@import "section-6";
@import "section-7";
@import "section-8";
@import "footer";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 1330px;
    padding: 20px 50px;
    margin: 0 auto;
}
