@import "mixins";

.section-8{
    padding: 120px 115px 215px 115px;
    background: $colorWhite;
}


.section-8-content{
    display: flex;
    justify-content: space-between;
    h1{
        font-size: 70px;
        color: $color;
        font-family: 'Cardo', serif;
        margin-bottom: 40px;
    }

    .section-8-form{
        display: flex;
        flex-direction: column;
        input{
            width: 460px;
            height: 60px;
            border: 2px solid $color;
            border-radius: 5px;
            margin-bottom: 30px;
            font-size: 20px;
            padding: 20px 30px;
            color: $color;
        }

        textarea{
            font-size: 20px;
            padding: 20px 30px;
            color: $color;
            border: 2px solid $color;
            border-radius: 5px;
            margin-bottom: 45px;
        }

        .form-button{
            height: 68px;
            background: $color;
            color: $colorWhite;
            font-size: 20px;
            cursor: pointer;
        }
    }
}